{
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "es5",
  "semi": true,
  "printWidth": 100,
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": ["scripts/**", "e2e/**", ".github/workflows/**"],
      "options": {
        "singleQuote": false,
        "trailingComma": "all",
        "printWidth": 80,
        "endOfLine": "auto"
      }
    }
  ]
}
